@import './styles/colors.scss';

body {
  background-color: var(--color-primary-blue); 
}

html,body, #root {
  height:100%;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  columns: 3;
  height: 100%;
}

p {
  color: white;
}

.codeMirror-editor {
  width: 800px;
}

.react-codemirror2, .cm-s-material {
  height: 100%;
}
